/* top, right, bottom, and left */
.topnav {
    overflow: hidden;
    background-color: #00274E;
    padding: 10px 100px;
  }
#logo { 
    padding: 0px;
    float: left;
    display: inline-block;
}
.topnav a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav ul{
    list-style-type: none;
}
  
.topnav ul.active{
    color: beige;
}


hr {
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    border-width: 5px;
    }

.content {
    padding-top: 20px;
    padding-bottom: 0px;
}
a contentHeading{
    font-size: 60px;
}
.boxed {
    padding: 20px 50px;
    text-align: center;
  }

.slideshow{
    padding: 50px 0px;
}


  .mySlides {
    max-width: 30%;
    height: auto;
  }

  /* Coloums */
  * {
    box-sizing: border-box;
  }
.row {
    display: flex;
}
.column {
    float: left;
    width: 50%;
    padding: 100px;
height: 300px; /* Should be removed. Only for demonstration */
}
  /* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
  }
.events{
    padding: 0px 100px;
}

.tags{
  display: flex;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: -200px;
}


/* Tablet Landscape */
@media screen and (max-width: 1060px) {
    #primary { width:67%; }
    #secondary { width:30%; margin-left:3%;}  
}
/* Tabled Portrait */
@media screen and (max-width: 768px) {
    #primary { width:100%; }
    #secondary { width:100%; margin:0; border:none; }
}